

body{
  background-color: #333;
  width: 100%;
  margin: 0;
}

input[type=range]
{
    width: 12em;
}

header{
  font-family: "allison";
  text-align: center;
  color: white;
  font-size: 1.5em;
  height: 3em;
}

.title{
  background-color: #3498DB;
  color: white;
  
  font-size: 1em;
  text-align: center;
  border: none;
}


.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: auto;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  margin: auto;
  align-items: center;
}

.subcontainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 15em;
  background-color: #333;
}

.section{
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 100%;

}

.subsection{
  display: flex;
  justify-content: space-around;
}

.setting-button{
  width: 2em;
  margin: auto;
  justify-content: center;
  align-self: center;
}

.metronome-container{
  background-color: gray;
  display: flex;
  flex-direction: column;
}

.onoff-button{
  margin: 1em;
  width: 10em;
  height: 2.5em;
  font-size: 1em;

  background-color: #3498DB;
  color: white;
  align-self: center;

}

.blip-container{
  width: 100%;
  height: 100%;
  background-color: gray;
  display: flex;
  flex-direction: row;
  
}
.blip{
  display: flex;

  border: 2px solid black;
  border-radius: 50%;
  background-color: rgba(255, 0, 0, 0.500);
  width: 2em;
  height: 2em;
  margin: auto;
}

.blip.active{
  display: flex;

  border: 2px solid black;
  border-radius: 50%;
  background-color: red;
  width: 2em;
  height: 2em;
  margin: auto;

  box-shadow:
  0 0 50px 0px red,  /* inner white */
  /*0 0 50px 0px orange, /* middle magenta */
  0 0 50px 0px white; /* outer cyan */
}



.slidecontainer{

  align-content: center;
  align-self: center;
}

.separator{
  width: 50%;
}

.title.subtitle{
  padding: 16px;
  align-self: center;
  width: 15%;
}



.bottom-drawer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: right;
  width: 100%;
  background-color: #333;
}

.drawer-handle{
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-content: center;
  background-color: darkgray;

}

.handle-content{
  align-self: center;
  
}

p.handle-content{
  margin-top: 0%;
  font-size: 1em;
  padding: -10%;
  color: white;
}

.up-arrow{
  width: 0; 
  height: 0; 
  border-left: 4em solid transparent;
  border-right: 4em solid transparent;

  border-bottom: 2em solid #333;
  cursor: pointer;
}

.down-arrow{
  width: 0; 
  height: 0; 
  border-left: 4em solid transparent;
  border-right: 4em solid transparent;
  border-top: 2em solid #333;

  cursor: pointer;
}

.drawer-content{
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.drawer-title{
  color: white;
  text-align: center;
  
}

.song-slides{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 95%;
  padding-bottom: 1em;

}

.song-slide{
  padding: 1em;
  padding-bottom: 0em;
  background-color: #3498DB;
  width: 10em;
  height: 17em;
  box-shadow: 4px 4px 5px 5px black;
  margin-top: 1em;
}

.song-title{

  height: 32px;
  text-align: center;
  font-size: 1em;

}

.by-line{
  width: 100%;
  text-align: center;
  color: white;
  font-size: 1rem;
  margin: auto;
  height: 16px
  
}

.song-image{
  display: block;
  max-width: 100%;
  max-height: 10em;
  margin: auto;
}

.view-song-link{
  font-size: .75em;
  height: 10px; 
  margin: auto;
}

.hidden{
  display: none;
}
.button-container{
  display: flex;
  width: 100%;
  justify-content: center;

}
.more-button{
  margin: 1em;
  width: 10em;
  height: 3em;
  font-size: 1em;
  font-weight: bold;
  background-color: #3498DB;
  color: white;
  align-self: center;
  padding: 1em;
}

footer{
  position: absolute;
  
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  height: 4em;
  background: rgb(24, 24, 24);
  color: white;
  font-size: 1em;
}

.footer-link, a{
  color: white;
}



